body {
    margin: 0;
    padding: 0;
    font-family: "游明朝", "Yu Mincho", YuMincho, serif;
    color: #545151;
    overflow-x: hidden;

}

h1,
h2,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

h2 {
    font-size: 2rem;
    line-height: 1;
    color: #3d2909;
    text-align: center;
    padding-top: 50px;
    position: relative;
}

h2::before {
    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;
    display: block;
    width: 30px;
    height: 1.5px;
    margin: 0 auto;
    content: "";
    background-color: coral;
}

p {
    line-height: 1.875;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.container {
    margin: 0 40px;
}

.button {
    text-align: center;
    padding-top: 40px;
}

.button a {
    margin-bottom: 10px;
    background-color: coral;
    color: #fff;
    padding: 15px 0;
    font-weight: bold;
    text-decoration: none;
    min-width: 260px;
    display: inline-block;
    background-image: url(../img/icn_arrow.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: right 20px center;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.16);
    text-indent: -15px;

}

.button a:hover,
.button a:focus {
    background-color: lightsalmon;
}


.header-area {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    position: fixed;
    z-index: 10000;
}

.header-title {
    width: calc(100%/2);

}

.header-title img {
    display: block;
    width: 100%;
    height: 100%;

}

.hamburger {
    width: 40px;
    height: 25px;
    position: relative;


}

.hamburger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #3d2909;

}

.hamburger span:first-of-type {
    top: 0;
}

.hamburger span:nth-of-type(2) {
    top: 50%;
}

.hamburger span:last-of-type {
    top: 100%;
}


.slide-menu {
    background-color: #a59a88;
    position: fixed;
    top: 65px;
    width: 100%;
    left: 0;
    transform: translateX(100%);
    transition: ease 1s;
    margin-top: -9px;
    z-index: 9999;
    opacity: 0.95;
}

.slide-menu .nav-item {
    list-style: none;
    padding-top: 50px;
    padding-bottom: 50px;
}

.slide-menu li {
    line-height: 400%;
    text-align: center;
}

.slide-menu li a {
    color: #fff;
}


/*アクティブ時*/
.hamburger.active span:first-of-type {
    top: 50%;
    transform: rotate(45deg);
}

.hamburger.active span:nth-of-type(2) {
    opacity: 0;
}

.hamburger.active span:last-of-type {
    top: 50%;
    transform: rotate(-45deg);
}

.slide-menu.active {
    transform: translateX(0);
}

/*アクティブ時*/




.top img {
    margin-top: 55px;

}

.about {
    text-align: center;
}

.about .fade {
    position: relative;
    margin-top: 40px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 3s, transform 3s;
}

.about .fade.active {
    opacity: 1;
    transform: translateY(0px);
}

.about img {
    width: 100%;
}


.about .container {
    position: absolute;
    bottom: 30px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.65);

}

.about .container p {
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 10px;

}


.info .news {
    margin-top: 20px;
}

.info .news div {
    border-bottom: 1px solid #9b9a9a;
    padding-top: 10px;
    padding-bottom: 10px;
}

.info .news div a {
    color: #545151;
}

.menu ul {
    list-style: none;
}

.menu li {
    margin-top: 30px;
}

.contact {
    text-align: center;
}

.contact img {
    margin-top: 30px;
}

.contact .shop-data {
    padding-top: 30px;
    display: inline-block;
}

.contact .shop-data div {
    display: flex;
}

.contact .shop-data dt {
    min-width: 5rem;
    font-weight: bold;
    text-align: left;
}

.access iframe {
    margin-top: 30px;
    width: 100%;
    height: 47vw;
}

.access dl {
    padding-top: 30px;
}

.access .shop-data {
    padding-top: 10px;
}

.access .shop-data div {
    display: flex;
}

.access .shop-data dt {
    min-width: 5rem;
    font-weight: bold;
}

footer {
    margin-top: 65px;
    background-color: #a59a88;
    color: #fff;
}

footer a {
    color: #fff;
}

footer img {
    width: 100px;
}

footer address {
    padding-top: 30px;
    font-style: normal;
}

footer .container {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


@media (min-width:768px) {
    .container {
        max-width: 740px;
        margin: auto;
    }

    h2 {

        padding-top: 78px;
        font-size: 2.25rem;
    }

    p {
        margin: auto;
        display: inline-block;
    }

    .button {
        padding-bottom: 80px;
    }

    .header-area {
        padding-top: 40px;
        padding-bottom: 10px;
        padding-left: 60px;
    }

    .hamburger {
        display: none;
    }

    .top img {
        width: 80%;
        text-align: center;
        padding-top: 120px;
    }

    header {
        text-align: center;
    }



    .slide-menu {
        position: fixed;
        top: 40px;
        transform: translateX(0%);
        display: flex;
        background-color: rgba(0, 0, 0, 0);
        left: 60px;
        transition: unset;

    }

    .slide-menu .nav-item {
        list-style: none;
        padding-top: 50px;
        padding-bottom: 50px;
        justify-content: center;
    }

    .slide-menu li {
        background-color: coral;
        text-align: center;
        display: inline-block;
        width: 120px;
        padding: 3px 15px;
        font-weight: bold;
        font-size: 1rem;
    }

    .slide-menu li a {
        color: #fff;
    }

    .slide-menu li:hover,
    .slide-menu li:focus {
        background-color: lightsalmon;
    }

    .about img {
        max-width: 600px;
        height: auto;
        transform: rotate(-90deg);
    }

    .about .fade {
        position: relative;

    }

    .about .container {
        position: absolute;
        bottom: 200px;
        left: 50%;
        transform: translateX(-50%);

    }

    .menu ul {
        display: flex;
        justify-content: space-between;
    }

    .menu li.menu-2 {
        margin-left: 10px;
        margin-right: 10px;
    }



    .access {
        text-align: center;
    }

    .access .shop-data {
        display: inline-block;
        text-align: left;
    }


    footer .container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    footer img {
        padding-right: 20px;
        padding-top: 20px;
    }

}